# Python cache & bytecode
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Environment files
.env
.venv
env/
venv/

# IDE configurations
.vscode/
.idea/
.ipynb_checkpoints/

# OS artifacts
.DS_Store
Thumbs.db